.inputCity {
  border: 2px solid rosybrown;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  height: 45px;
}

.form {
  margin: auto;
  margin-bottom: 5%;
}

.inputDate {
  border: 2px solid rosybrown;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  height: 45px;
}

.inputInfo {
  border: 2px solid rosybrown;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  width: 500px;
  height: 250px;
}

.formBackground {
  border: 1rem solid transparent;
  background: #F8D86E;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  width: 90rem;
  margin: auto;
  margin-top: 3%;
}

.formTitle {
  text-align: center;
  margin-top: 5rem;
}

.formBtn {
  background-color: aqua;
}